
body {
  margin:0px;
  padding:0px;
  text-align:center;
  background: #333;
  font-family: "Open Sans", sans-serif;
}

.gameframe {
  // -webkit-perspective: 600px;
  // -webkit-perspective-origin: 50% 0%;
  // perspective: 600px;
  // perspective-origin: 50% 0%;
  // width: 600px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}


.board {
  // width: 600px;
  background:#DDD;
  overflow: hidden;
  position: relative;

  // transform: rotateX(30deg) scale(1.2);
  // -webkit-transform: rotateX(30deg) scale(1.2);
  // perspective: 600px;
  // perspective-origin: 50% 100%;
  // -webkit-perspective: 600px;
  // -webkit-perspective-origin: 50% 100%;
  // transition: transform 2s 2s;
}

.gameframe .board {
  // transform: rotateX(0deg) scale(1);
  // -webkit-transform: rotateX(0deg) scale(1);
}

.gameframe-inplay  .board {
  // transform: rotateX(30deg) scale(1.2);
  // -webkit-transform: rotateX(30deg) scale(1.2);
}

.lane {
  clear: left;
  width: 100%;
  background: #555;
  position: relative;
  // perspective: 600px;
  // perspective-origin: 50% 100%;
  // -webkit-perspective: 600px;
  // -webkit-perspective-origin: 50% 100%;
}

.lanecontent {
  position: relative;
  width: 200%;
  height: 100%;
  overflow: hidden;
  // transition: transform 1s 3s;

}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.gameframe-inplay .lanecontent {
// transform: rotateX(-30deg) scaleY(1.2);
// -webkit-transform: rotateX(-30deg) scaleY(1.2);
}

.gameframe .lanecontent {
// transform: rotateX(0deg) scaleY(1);
// -webkit-transform: rotateX(0deg) scaleY(1);
}

.avatar {
  width: 3%;
  // height: 20px;
  position: absolute;
  // transform: rotateX(-30deg);
  // -webkit-transform: rotateX(-30deg);
}

.avatarcontent {
  width: 100%;
  height: 100%;
  position: relative;
}


.lane span {
  float: left;
  height: 100%;
  font-size: 0px;
}

.gap {
  width: 3.25%;
}

.gap2 {
  width: 6.5%;
}

.gap4 {
  width: 13%;
}

.bus {
 width: 7%;
}

.taxi {
 width: 3.5%;
}


.car {
 width: 2.5%;
 position: relative;
 top: 20%;
}

.door {
 width: 3.5%;
}

.infopanel {
  background: darkorange;
  background: rgba(255, 140, 0, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 3;
  z-index: 1;
  padding: 2em;
}

.infopanel-inplay {
  position: relative;
  margin-top: 2em;
}

.info_goals, .info_lives {
  font-weight: bold;
  font-size: 2em;
  color: red;
  text-shadow: black 1px 1px 1px;
  margin-right: 0.1em;
}

.info_command {
  text-decoration: none;
}

.btn {
  color: white;
  border-radius: 1em;
  padding: 0.25em 2em;
  display: inline-block;
  border-bottom: solid 0.2em rgba(0, 0, 0, 0.2);
}

.start {
  background: cadetblue;
  margin: 0 1em 1em 0;
}
.info_nextlevelname {
  background: gold;
  clear: left;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.lane {
  background: grey url(assets/lane.png) 0 0 repeat-x;
  background-size: contain;
}

.edge {
  background: brown url(assets/mud.png) 0 0 repeat-x;
  background-size: cover;
}

.divider {
  background: green url(assets/grass.png) 0 0 repeat-x;
  background-size: cover;
}

.level {
  display: none;
}

// lane heights

// 1 divider (w1), 6 lanes (w2) = 13

.lanes-7 .divider {
  height: 7.692307692%; // 100/13
}

.lanes-7 .lane {
  height: 15.384615384%;
}

// 1 divider (w1), 8 lanes (w2) = 17

.lanes-9 .divider {
  height: 5.882352941%; // 100/17
}

.lanes-9 .lane {
  height: %;
}